<template>
    <div class="flex-row-center base-size mb20 pointer">
        <a class="home_icon base-size" href="https://zhyq.ailuquan.cn/website/shijzslqqzf">首页</a><span class="ml5 mr5">></span><span class="base-color">金融政策</span>
    </div>
    <div class="label">金融政策</div>
    <div class="listDiv" style="border:none !important;">
        <div class="pd20 el-table">
            <div class="item mb20 pointer items pd20-column" v-for="(v,i) in list" :key="i" @click="read(v.policy_id)">
                <div class="mb5 flex-row-center ju-between">
                    <span class="large-size weight">{{v.title||""}}</span>
                </div>
                <div class="flex-row-center ju-between base-size">
                    <span class="state-btn-primary mr20">{{v.name}}</span>
                    <span>发布时间：{{v.sendtime}}</span>
                </div>
            </div>
        </div>
        <div class="pd20 w100 flex-row-center ju-flex-end">
            <el-pagination
                v-model:currentPage="sifterForm.currentpage"
                v-model:page-size="sifterForm.pagesize"
                :page-sizes="[10, 20, 50, 100]" :total="total"
                @size-change="()=>{updalist()}"
                @current-change="()=>{updalist()}"
                layout="total, sizes, prev, pager, next, jumper"  background/>
        </div>
    </div>

</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,provide,toRaw } from 'vue'

    let { proxy } = getCurrentInstance()
    let obj = reactive({
        total: 0,
        list:[],
        sifterForm: {
            key: '',
            state: '',
            currentpage: 1,
            pagesize: 10
        },
    });

    const updalist = (form)=>{
        let param = {
            ...obj.sifterForm,
            ...form
        }
        proxy.$ajax({url: 'financialpolicy/list',data: param,bfLoading: true}).then(d => {
            console.log(d);
            if(d.success){
                total.value = d.msg.count||0
                list.value = d.msg.list;
            }else{}
        }).catch(e => {
            console.log(e)
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
    }
    updalist();

    let readId = ref(0)
    provide("id", readId); //不能加.value
    const read = (id)=>{
        readId.value = id
        proxy.routerPushMixin('/share/policy/detail',{id:id})
    }
    let { list, sifterForm, form, total } = toRefs(obj)
</script>

<style lang="scss" scoped>
.label::before{
    content: '';display: inline-block; width: 10px;height: 10px;background: #000fff;margin-right: 5px;
}
.items{
    border-bottom: dotted 1px #d0d0d0;
}
</style>