<template>
    <div class="chart-page flex-row pd20 mini-gray-bg">
		<div class="tab-box overflowy write-bg" v-if="talklist.length">
			<div class="flex-column item pd10-row pd20-column pointer" @click="checkchart(v,i)" :class="[idx==i?'active':'']" v-for="(v,i) in talklist" :key="i">
				<div class="flex-row-center base-size mb5">
					<span class="lineOne flex1">{{v.persionname}}</span>
				</div>
				<span class="lineOne mini-gray-size">应聘职位：{{v.jobname}}</span>
			</div>
		</div>
		<router-view v-slot="{ Component }">
			<keep-alive>
				<component :is="Component" v-if="$route.meta.keepAlive" :key="$route.path"/>
			</keep-alive>
			<component :is="Component" v-if="!$route.meta.keepAlive"/>
		</router-view>
    </div>
</template>
<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,toRaw,watch,onMounted,nextTick } from 'vue'
    let { proxy } = getCurrentInstance()
    let obj = reactive({
		talklist: [],
		idx: 0
    });

	const init = ()=>{
		getchartlist()
	}

	let getchartlist = ()=>{
        proxy.$ajax({url: 'talk/list',data:{currentpage:1,pagesize:10000},bfLoading: true}).then(d => {
            if(d.success){
				talklist.value = d.msg.list||[]
				let query = proxy.$route.query;
				talklist.value.forEach((e,i)=>{
					if(e.job_id==query.job_id&&e.persion_id==query.persion_id&&e.persionname==query.persionname){
						idx.value = i;
					}
				})
            }
        }).catch(e => {
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
	}

	let checkchart =(row,i)=>{
        proxy.routerPushMixin('/chartpersiondetail',{job_id:row.job_id,persion_id:row.persion_id,persionname:row.persionname})
		idx.value = i;
	}


	init()
    let { talklist,idx } = toRefs(obj)
    
</script>

<style lang="scss" scoped>
	.chart-page{
		width: 100vw;height: 100vh;overflow: hidden;
	}
	.tab-box{
		width: 200px;height: 100%;
		border-right: solid 1px #f0f0f0;box-sizing: border-box;
		.item{
			border-bottom: solid 1px #f0f0f0;box-sizing: border-box;
		}
		.active{
			background: #f9fbff;color: #409eff;
		}
	}
</style>