<template>
    <div class="flex-row-center base-size mb20 pointer">
        <a class="home_icon base-size" href="https://zhyq.ailuquan.cn/website/shijzslqqzf">首页</a><span class="ml5 mr5">></span><span class="base-color">金融产品</span>
    </div>
    <div class="label">金融产品</div>
    <div class="listDiv" style="border:none !important;">
        <div class="pd20 el-table wrap flex-row">
            <div class="items mb20 pointer radius10 border mr20" v-for="(v,i) in list" :key="i" @click="read(v.banking_id)">
                <el-image fit="cover" style="width:270px;height:140px;" :src="fileurl+ '/banking/'+ v.cover">
                        <template #error>
                            <div class="image-slot">
                                <el-image src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"/>
                            </div>
                        </template>
                    </el-image>
                <div class="flex-column pd10">
                    <span class="base-size weight mb5 lineOne">{{v.name||""}}</span>
                    <span class="danger-color">{{v.price||"88888"}}元</span>
                </div>
            </div>
        </div>
        <div class="pd20 w100 flex-row-center ju-flex-end">
            <el-pagination
                v-model:currentPage="sifterForm.currentpage"
                v-model:page-size="sifterForm.pagesize"
                :page-sizes="[10, 20, 50, 100]" :total="total"
                @size-change="()=>{updalist()}"
                @current-change="()=>{updalist()}"
                layout="total, sizes, prev, pager, next, jumper"  background/>
        </div>
    </div>

</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,provide,toRaw } from 'vue'

    let { proxy } = getCurrentInstance()
    let obj = reactive({
        fileurl: proxy.$setting.globalUrl.fileurl,
        total: 0,
        list:[],
        sifterForm: {
            key: '',
            currentpage: 1,
            pagesize: 10
        },
    });

    const updalist = (form)=>{
        let param = {
            ...obj.sifterForm,
            ...form
        }
        proxy.$ajax({url: 'banking/list',data: param,bfLoading: true}).then(d => {
            console.log(d);
            if(d.success){
                total.value = d.msg.count||0
                list.value = d.msg.list;
            }else{}
        }).catch(e => {
            console.log(e)
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
    }
    updalist();

    let readId = ref(0)
    provide("id", readId); //不能加.value
    const read = (id)=>{
        readId.value = id
        proxy.routerPushMixin('/share/banking/detail',{id:id})
    }
    let { list, sifterForm, form, total, fileurl } = toRefs(obj)
</script>

<style lang="scss" scoped>
.label::before{
    content: '';display: inline-block; width: 10px;height: 10px;background: #000fff;margin-right: 5px;
}
.items{
    width: 270px;height: 210px;
    .el-image{border-top-left-radius: 10px; border-top-right-radius: 10px;}
}
</style>