<template>
    <div class="sifter-box flex-row-center" v-if="isEdit==0">
        <el-form :inline="true" :model="sifterForm" class="demo-form-inline">
            <el-form-item label="筛选：">
                <el-input v-model="sifterForm.key" placeholder="输入车位关键字" @input="proxy.$utils.debounce(updalist,sifterForm)"></el-input>
            </el-form-item>
            <el-form-item prop="verify">
                <el-select v-model="sifterForm.verify" placeholder="请选择状态" clearable @change="(e)=>{typeChange(e,'verify')}">
                    <el-option v-for="item in globalData.verifyTypeAry1" :key="item.value" :label="item.text" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="type">
                <el-select v-model="sifterForm.type" placeholder="请选择车位类别" clearable @change="(e)=>{typeChange(e,'type')}">
                    <el-option v-for="item in globalData.parkTypeAry" :key="item.value" :label="item.text" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div>
            <el-button type="primary" plain :loading="false" @click.prevent="editData()">添加</el-button>
        </div>
    </div>

    <div class="listDiv" v-if="isEdit==0">
        <el-table :data="list" stripe style="width: 100%">
            <!-- <el-table-column prop="man" label="车主"> </el-table-column>
            <el-table-column prop="mobile" label="电话"> </el-table-column> -->
            <el-table-column prop="plate" label="车牌"> </el-table-column>
            <!-- <el-table-column prop="title" label="申请内容"> </el-table-column> -->
            <el-table-column prop="typename" label="类别" width="100">
                <template #default="props">
                    <span>{{proxy.$utils.findObj(props.row.type,globalData.parkTypeAry,'value').text}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="parking" label="申请到的车位"> </el-table-column>
            <el-table-column prop="intime" label="申请时间" width="180"> </el-table-column>
            <el-table-column prop="verify" label="审核状态" width="100">
                <template #default="props">
                    <span>{{proxy.$utils.findObj(props.row.verify,globalData.verifyTypeAry1,'value').text}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="" label="操作" width="100">
                <template #default="props">
                    <span v-if="props.row.isme!=0" class="pointer mr10" @click="editData(props.row)"><el-icon color="#409EFC"><edit/></el-icon></span>
                    <span v-if="props.row.isme!=0" class="pointer" @click="delData(props.row)"><el-icon color="#F56C6C"><delete /></el-icon></span>
                </template>
            </el-table-column>
        </el-table>
        <div class="pd20 w100 flex-row-center ju-flex-end">
            <el-pagination
                v-model:currentPage="sifterForm.currentpage"
                v-model:page-size="sifterForm.pagesize"
                :page-sizes="[10, 20, 50, 100]" :total="total"
                @size-change="()=>{updalist()}"
                @current-change="()=>{updalist()}"
                layout="total, sizes, prev, pager, next, jumper"  background/>
        </div>
    </div>

    <div class="edit-box" v-if="isEdit!=0">
        <div class="title-box flex-row-center">
            <span class="pointer return flex-row-center mr10" @click="re_turn"><el-icon><back /></el-icon></span>
            <span>{{isEdit==1?'提交':'编辑'}}车位申请信息</span>
        </div>
        <div class="form-box">
            <el-form ref="ruleFormRef" :inline="true" :model="form" :rules="rules" label-width="120px" class="demo-ruleForm">
                <el-form-item :rules="[ { required: true, message: '车主不能为空'} ]" label="车主" prop="man">
                    <el-input autocomplete="off" clearable v-model="form.man"></el-input>
                </el-form-item>
                <el-form-item :rules="[ { required: true, message: '电话不能为空'} ]" label="电话" prop="mobile">
                    <el-input autocomplete="off" clearable v-model="form.mobile"></el-input>
                </el-form-item>
                <br/>
                <el-form-item :rules="[ { required: true, message: '车牌不能为空'} ]" label="车牌" prop="plate">
                    <el-input autocomplete="off" clearable v-model="form.plate"></el-input>
                </el-form-item>
                <el-form-item class="w96" :rules="[ { required: true, message: '内容不能为空'} ]" label="申请内容" prop="title">
                    <el-input autocomplete="off" clearable v-model="form.title"></el-input>
                </el-form-item>
                <br/>
                <el-form-item :rules="[ { required: true, message: '请选择类别'} ]" label="类别" prop="type">
                    <el-select v-model="form.type" placeholder="请选择" clearable>
                        <el-option v-for="item in globalData.parkTypeAry" :key="item.value" :label="item.text" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label=" " label-width="120px">
                    <el-button type="primary" class="btn" :loading="false" @click.prevent="submit" native-type="submit">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,toRaw } from 'vue'
    import { Back,Edit,Delete } from '@element-plus/icons-vue'
    import Editer from '../../components/editer.vue'

    let { proxy } = getCurrentInstance()
    let obj = reactive({
        isEdit: 0,
        total: 0,
        list:[],
        sifterForm: {
            key: '',
            type: '',
            verify: '',
            currentpage: 1,
            pagesize: 10
        },
        form: {
            "parking_id":"",
            "title":"",
            "type":"",
            "plate":"",
            "man":"",
            "mobile":"",
        },
        ruleFormRef: null,
    });

    const typeChange = (e,key)=>{
        if(e){
            sifterForm.value[key] = e
            updalist(obj.sifterForm)
        }else{
            sifterForm.value[key] = ''
            updalist(obj.sifterForm)
        }
    }

    const updalist = (form)=>{
        let param = {
            ...obj.sifterForm,
            ...form
        }
        proxy.$ajax({url: 'parking/list',data: param,bfLoading: true}).then(d => {
            console.log(d);
            if(d.success){
                total.value = d.msg.count||0
                list.value = d.msg.list;
            }else{}
        }).catch(e => {
            console.log(e)
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
    }
    updalist();

    const delData = (item)=>{
            proxy.$ajax({url: 'parking/delete',data:{parking_id:item.parking_id},bfLoading: true}).then(d => {
                console.log(d);
                if(d.success){
                    proxy.elMessageMixin('删除成功！', 'success')
                    updalist()
                }else{proxy.elMessageMixin(date.err, 'error')}
            }).catch(e => {
                if(e == "登录已过期，请重新登录"){
                    proxy.routerPushMixin('/')
                }
            })
    }

    const re_turn = ()=>{
        isEdit.value = 0;
        form.value = {
            "parking_id":"",
            "title":"",
            "type":"",
        }
    }

    const editData = (item)=>{
        console.log(item);
        if(item){
            proxy.$ajax({url: 'parking/get',data:{parking_id:item.parking_id},bfLoading: true}).then(d => {
                console.log(d);
                if(d.success){
                    form.value = {
                        ...d.msg,
                        parking_id: item.parking_id
                    }
                    isEdit.value = 2
                }else{}
            }).catch(e => {
                console.log(e)
                if(e == "登录已过期，请重新登录"){
                    proxy.routerPushMixin('/')
                }
            })
        }else{
            isEdit.value = 1
        }
    }

    const submit = ()=>{
      if (ruleFormRef) {
        ruleFormRef.value.validate((valid) => {
          if (valid) {
                console.log(form.value);
                let param = {
                    ...form.value,
                    parking_id:form.value.parking_id||0
                }
                // return
                proxy.$ajax({url: 'parking/design',data:param,bfLoading: true}).then(d => {
                    console.log(d);
                    if(d.success){
                        form.value = {
                            "parking_id":"",
                            "title":"",
                            "type":"",
                        }
                        proxy.elMessageMixin('编辑成功！', 'success')
                        isEdit.value = 0
                        updalist()
                    }else{proxy.elMessageMixin(date.err, 'error')}
                }).catch(e => {
                    console.log(e)
                    if(e == "登录已过期，请重新登录"){
                        proxy.routerPushMixin('/')
                    }
                })
          } else {
            return false;
          }
        });
      }
    }
    
    let { list, sifterForm, form, isEdit, ruleFormRef, types, verifys, total } = toRefs(obj)
</script>

<style lang="scss" scoped>
</style>