<template>
    <div class="listDiv flex-center" style="height:506px;">
        <div class="flex-column flex-center mb20" style="flex-1">
            <span class="size24 mb20">欢迎登录</span>
            <qrcode-vue :value="obj.company_id" level="L" size="300" />
            <span class="base-gray-size mt10">小程序扫码获取企业信息</span>
        </div>
    </div>
</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,toRaw,computed } from 'vue'
    import QrcodeVue from 'qrcode.vue'
    let { proxy } = getCurrentInstance()
    let obj = reactive({
        company_id: sessionStorage.getItem("ID")
    })
    const downLoad = ()=>{
        let canvas = document.getElementsByTagName('canvas');
        console.log(canvas);
        let img =  canvas.toDataURL("image/png");
        console.log(img);
        return
        var oA = document.createElement("a");
        oA.download = '';// 设置下载的文件名，默认是'下载'
        oA.href = url;
        document.body.appendChild(oA);
        oA.click();
        oA.remove(); // 下载之后把创建的元素删除
    }
</script>

<style scoped>
</style>