<template>
    <div class="flex-row-center base-size mb20 pointer">
        <a class="home_icon base-size" href="https://zhyq.ailuquan.cn/website/shijzslqqzf">首页</a><span class="ml5 mr5">></span><span class="base-color">培训课程</span>
    </div>
    <div class="label">培训课程</div>
    <div class="listDiv" style="border:none !important;">
        <div class="pd20 el-table">
            <div class="items flex-row mb20 pointer pb20" v-for="(v,i) in list" :key="i"  @click="read(v)">
                <el-image style="width: 200px; height: 110px" class="pointer mr10" fit="cover" :src="fileurl+ '/train/'+ v.cover">
                        <template #error>
                            <div class="image-slot">
                                <el-image src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"/>
                            </div>
                        </template>
                    </el-image>
                <div class="flex-column pd10-cloumn">
                   <span class="big-size weight lineOne mb5">{{v.name||""}}</span> 
                   <span :class="[`state-btn-${v.type==0?'primary':'warning'}`]" style="width:34px;">{{v.type==0?'线上':'线下'}}</span>
                   <div class="flex1"></div>
                    <div class="mini-gray-size mt5 lineTwo mt20" v-if="v.type==1">{{v.starttime.substring(0,10)||''}} ~ {{v.endtime.substring(0,10)||''}}</div>
                </div>
                <div>

                </div>
                <!-- <div class="mb5 flex-row-center ju-between">
                    <span class="large-size weight">{{v.title||""}}</span>
                </div>
                <div class="flex-row-center ju-between base-size">
                    <span class="state-btn-primary mr20">{{v.name}}</span>
                    <span>发布时间：{{v.sendtime}}</span>
                </div> -->
            </div>
        </div>
        <div class="pd20 w100 flex-row-center ju-flex-end">
            <el-pagination
                v-model:currentPage="sifterForm.currentpage"
                v-model:page-size="sifterForm.pagesize"
                :page-sizes="[10, 20, 50, 100]" :total="total"
                @size-change="()=>{updalist()}"
                @current-change="()=>{updalist()}"
                layout="total, sizes, prev, pager, next, jumper"  background/>
        </div>
    </div>

</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,provide,toRaw } from 'vue'

    let { proxy } = getCurrentInstance()
    let obj = reactive({
        fileurl: proxy.$setting.globalUrl.fileurl,
        total: 0,
        list:[],
        sifterForm: {
            key: '',
            state: '',
            currentpage: 1,
            pagesize: 10
        },
    });

    const updalist = (form)=>{
        let param = {
            ...obj.sifterForm,
            ...form
        }
        proxy.$ajax({url: 'train/out_list',data: param,bfLoading: true}).then(d => {
            console.log(d);
            if(d.success){
                total.value = d.msg.count||0
                list.value = d.msg.list;
            }else{}
        }).catch(e => {
            console.log(e)
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
    }
    updalist();

    let readId = ref(0)
    const read = (v)=>{
        readId.value = v.train_id
        sessionStorage.setItem('traindetailkey',JSON.stringify(v))
        proxy.routerPushMixin('/share/train/detail',{id:v.train_id})
    }

    let { list, sifterForm, form, total, fileurl } = toRefs(obj)
</script>

<style lang="scss" scoped>
.label::before{
    content: '';display: inline-block; width: 10px;height: 10px;background: #000fff;margin-right: 5px;
}
.items{
    border-bottom: dotted 1px #d0d0d0;
}
</style>