<template>
    <div class="pages">
        liaotian
    </div>
</template>

<script setup>
import { getCurrentInstance,reactive,watch } from 'vue'
let { proxy } = getCurrentInstance()
const props = defineProps({
})

let d = reactive({
})
watch(
)
</script>

<style scoped>

</style>