<template>
    <div class="sifter-box flex-row-center" v-if="isEdit==0">
        <el-form :inline="true" :model="sifterForm" class="demo-form-inline">
            <el-form-item label="筛选：">
                <el-input v-model="sifterForm.key" placeholder="输入招聘会关键字" @input="proxy.$utils.debounce(updalist,sifterForm)"></el-input>
            </el-form-item>
            <el-form-item>
                <el-date-picker style="width:200px;" v-model="sifterForm.time" type="daterange" value-format="YYYY-MM-DD" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" align="right" size="small" @change="datePickerChange" @clear="datePickerChange"></el-date-picker>
            </el-form-item>
        </el-form>
        <div>
        </div>
    </div>

    <div class="listDiv pt20" v-if="isEdit==0">
        <div class="item write-bg pd20 mb20 flex-column" v-for="(v,i) in list" :key="i">
            <div class="mb10">
                <span class="big-size weight lineOne">{{v.title||''}}</span>
                <span class="base-color mini-size pointer ml10" @click="editData(v)">查看详情</span>
            </div>
            <div class="flex-row">
                <div class="flex-row wrap flex4">
                    <div class="w50 mb5 pr10"><span class="mini-size">地点：</span><span class="base-size">{{v.address||""}}第三方的观点水电费收到个地方收到公司的故事</span></div>
                    <div class="w50 mb5 pl10"><span class="mini-size">状态：</span><span :class="[fix(v).label]">{{fix(v).text||''}}</span></div>
                    <div class="w50 mb5 pr10"><span class="mini-size">联系人：</span><span class="base-size">{{v.man||""}}</span></div>
                    <div class="w50 mb5 pl10"><span class="mini-size">联系电话：</span><span class="base-size">{{v.mobile||""}}</span></div>
                    <div class="w50 mb5 pr10"><span class="mini-size">开始时间：</span><span class="base-size">{{v.starttime||""}}</span></div>
                    <div class="w50 pl10"><span class="mini-size">结束时间：</span><span class="base-size">{{v.endtime||""}}</span></div>
                </div>
                <div class="flex1 flex-row base-size">
                    <div v-if="proxy.$utils.checkMeetTime(Date.now(),v.starttime,v.endtime)==1">
                        <el-popover show-arrow placement="top" v-model:visible="popovervisibles[`visible${v.id}`]" trigger="click" :width="300" @show="popoverShow(v)" :key="v.id">
                            <el-form ref="sign_ruleFormRef" :inline="true" :model="sign_form" label-width="120px" class="demo-ruleForm">
                                <el-form-item class="w96" :rules="[ { required: true, message: '日期不能为空'} ]" :label="!v.days.length?'参加日期':'取消日期'" prop="day">
                                    <el-date-picker v-if="!v.days.length" v-model="sign_form.day" type="date" value-format="YYYY-MM-DD" placeholder="选择参加日期" :disabled-date="(time)=>{disabledDate(time,v)}"></el-date-picker>
                                    <el-select v-if="v.days.length" v-model="sign_form.day" placeholder="请选择取消日期" clearable>
                                        <el-option v-for="item in issigndays" :key="item.value" :label="item.text" :value="item.value" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div style="text-align: right; margin: 0">
                                <el-button size="small" type="primary" @click="celsign">取消</el-button>
                                <el-button size="small" type="primary" @click="sign(v)">确认</el-button>
                            </div>
                            <template #reference>
                                <span :class="['pointer','mr10',!v.days?'base-color':'success-color']" @click="show(v)">{{!v.days?'报名':'取消报名'}}</span>
                            </template>
                        </el-popover>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd20 w100 flex-row-center ju-flex-end">
            <el-pagination
                v-model:currentPage="sifterForm.currentpage"
                v-model:page-size="sifterForm.pagesize"
                :page-sizes="[10, 20, 50, 100]" :total="total"
                @size-change="()=>{updalist()}"
                @current-change="()=>{updalist()}"
                layout="total, sizes, prev, pager, next, jumper"  background/>
        </div>
    </div>

    <div class="edit-box" v-if="isEdit!=0">
        <div class="title-box flex-row-center">
            <span class="pointer return flex-row-center mr10" @click="re_turn"><el-icon><back /></el-icon></span>
            <span>招聘会详情</span>
        </div>
        <div class="form-box">
            <div class="head-title flex-row">
                <div class="flex-column ml10 head-title">
                    <span class="title mb10">{{detail.title||''}}</span>
                </div>
            </div>
            <div class="flex-row-center ju-flex-end mt10 mb10 base-gray-size">
                <span class="base-size mr10 flex-row-center"><el-icon class="mr5"><position /></el-icon>{{detail.address}}</span>
                <span class="base-size mr10 flex-row-center"><el-icon class="mr5"><user /></el-icon>{{detail.man}}</span>
                <span class="base-size mr10 flex-row-center"><el-icon class="mr5"><phone /></el-icon>{{detail.mobile}}</span>
                <span class="base-size mr10 flex-row-center"><el-icon class="mr5"><timer /></el-icon>{{detail.starttime}} ~ {{detail.endtime}}</span>
            </div>
            <div class="line mb20"></div>
            <div v-html="detail.msg"></div>
        </div>
    </div>

</template>

<script setup>
    import { reactive,ref,getCurrentInstance,toRefs,toRaw,computed } from 'vue'
    import { Back,Edit,Delete,Timer,Phone,User,Position } from '@element-plus/icons-vue'
    import Editer from '../../components/editer.vue'
    let { proxy } = getCurrentInstance()
    let obj = reactive({
        fileurl: proxy.$setting.globalUrl.fileurl,
        isEdit: 0,
        total: 0,
        list:[],
        sifterForm: {
            key: '',
            type: '',
            "issign":"1",
            "time": "",
            "starttime":"",
            "endtime":"",
            currentpage: 1,
            pagesize: 10
        },
        detail: {},
        sign_form: {
            "jobfair_id":"",
            "day":""
        },
        sign_ruleFormRef: null,
        popovervisible: false,
        popovervisibles: {},
        sign_start_time: '',
        sign_end_time: '',
        sign_days_times: [],
        issign: false,
        issigndays: [],
    });

    const show = (row)=>{
        if(row.days){
            let days = row.days.split(',');
            issigndays.value = []
            days.map(e=>{
                let o = {
                    text: e,
                    value: e,
                    disabled: (new Date().getTime()+86400000) > new Date(e).getTime()
                }
                issigndays.value.push(o);
            })
        }else{}
        celsign()
        popovervisibles.value[`visible${row.id}`] = true
    }

    const fix = computed(() => {
        return (x) => {
            // if(x.complete == 1) return {text:"完成",color:'success-color',label:'label-btn-success'}
            let start = new Date(x.starttime), end = new Date(x.endtime), now = new Date()
            if (start > now) return {text:"尚未开始",color:'gray-color',label:'label-btn-warning'}
            if (end < now) return {text:"已结束",color:'gray-color',label:'label-btn-info'}
            return {text:"进行中",color:'base-color',label:'label-btn-success'}
        }
    })

    const celsign = ()=>{
        for (const key in popovervisibles.value) {
            if (Object.hasOwnProperty.call(popovervisibles.value, key)) {
                popovervisibles.value[key] = false  
            }
        }
    }

    const popoverShow = (row) => {
        if(!row.days){//报名的时候
            sign_start_time.value = new Date(row.starttime).getTime()
            sign_end_time.value = new Date(row.endtime).getTime()
            issign.value = true
        }else{//取消报名的时候
        }
    }

    const disabledDate = (time) => {
        return (time.getTime()+46400000) <= sign_start_time.value || time.getTime() >= sign_end_time.value || time.getTime() < (Date.now() + 86400000);
    }

    const typeChange = (e,key)=>{
        if(e){
            sifterForm.value[key] = e
            updalist(obj.sifterForm)
        }else{
            sifterForm.value[key] = ''
            updalist(obj.sifterForm)
        }
    }
    
    const datePickerChange = (e)=>{
        console.log(e);
        
        sifterForm.value.starttime = e?e[0]:''
        sifterForm.value.endtime = e?e[1]:''
        updalist(sifterForm.value)
    }

    const updalist = (form)=>{
        let param = {
            ...obj.sifterForm,
            ...form
        }
        proxy.$ajax({url: 'jobfair/list',data: param,bfLoading: true}).then(d => {
            console.log(d);
            if(d.success){
                total.value = d.msg.count||0
                list.value = d.msg.list;
                list.value.map(e=>{
                    popovervisibles.value[`visible${e.id}`] = false
                })
            }else{}
        }).catch(e => {
            console.log(e)
            if(e == "登录已过期，请重新登录"){
                proxy.routerPushMixin('/')
            }
        })
    }
    updalist();

    const re_turn = ()=>{
        isEdit.value = 0;
    }

    const editData = (item)=>{
        console.log(item);
        if(item){
            detail.value = item
            isEdit.value = 1
        }
    }

    const sign = (row)=>{
        if(!sign_form.value.day){
            proxy.elMessageMixin('请选择日期！', 'error');
            return
        }
        if(row.id){
            let param = {
                ...sign_form.value,
                jobfair_id: row.id,
            }
            proxy.$ajax({url: 'jobfair/sign',data:param,bfLoading: true}).then(d => {
                console.log(d);
                if(d.success){
                    proxy.elMessageMixin('成功！', 'success')
                    sign_form.value = {
                        "jobfair_id":"",
                        "day":""
                    }
                    popovervisibles.value[`visible${row.id}`] = false
                    updalist()
                }else{proxy.elMessageMixin(date.err, 'error')}
            }).catch(e => {
                console.log(e)
                if(e == "登录已过期，请重新登录"){
                    proxy.routerPushMixin('/')
                }
            })
        }
    }
    
    let { list, sifterForm, isEdit, total, fileurl, detail,sign_form,sign_ruleFormRef,sign_start_time,sign_end_time,popovervisible,sign_days_times,issign,issigndays,popovervisibles} = toRefs(obj)
</script>

<style lang="scss" scoped>
.listDiv{
    .item{
        width: 96%;height: auto;margin-left: 2%; box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.02);
    }
    .item:hover{box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.03);}
}
</style>